.botao {
	background-color: dddddd;
	-fx-background-color: #dddddd;
	-fx-alignment: center;
	-fx-border-insets: 10;
	-fx-background-insets: 10;
	-fx-background-radius: 10;
	border-color: #222222;
	-fx-border-color: #222222;
	border-radius: 10;
	-fx-border-radius: 10;
}

.botao:hover {
	background-color: #cccccc;
	-fx-background-color: #cccccc;
}

.botao:pressed {
	background-color: #bbbbbb;
	-fx-background-color: #bbbbbb;
}
